# Build artifacts
nuitka_dist_onefile/
nuitka_dist_installer/
dist_installer/

#models
model
model_old

# Python cache
__pycache__/

.cursor
.specify

nuitka-crash-report.xml
.vscode/
debug_output.txt
